{% extends 'base/base.html' %}

{% block title %}Completar Perfil da Empresa{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h4>Completar Perfil da Empresa</h4>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-end">
              <button class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
